/* background image */
html {
  background: url(img/periodic\ table.jpg) no-repeat center fixed;
  background-size: cover;
}
/*Padding and margin*/
body {
  padding: 25px 125px;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  width: 800px;
}

/*algin h1 h2 center*/
.center {
  text-align: center;
}

/*text Overlay on images*/
.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: grey;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.image {
  display: block;
  height: auto;
}
/*fonts and decorations*/
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
}
/*tables*/
table {
  margin: 0 auto;
}

td {
  border: 3px solid black;
  padding: 15px 35px;
  border-radius: 10px;
  background: grey;
}

/*color*/
#pink {
  color: rgb(139, 6, 117);
}

#blue {
  color: teal;
}
